.Fish {
  position: absolute;
  height: 8%;
  width: auto;
}

.Fish__body {
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  max-width: 100%;

  &.-movingLeft {
    transform: translate(-50%, -50%) scaleX(-1);
  }
}
