.Fish {
  position: absolute;
  height: 8%;
  width: auto;
}

.Fish__flipper {
  height: 100%;
  width: auto;
  position: relative;
  transform: translate(-50%);

  &.-movingLeft {
    transform: translate(-50%) scaleX(-1);
  }
}

.Fish__body {
  height: 100%;
  width: auto;
  transition: transform .2s;
  animation-name: bob;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes bob {
  from {
    transform: translateY(-40%) scaleY(1.05) scaleX(.95);
  }

  to {
    transform: translateY(-60%) scaleY(.95) scaleX(1.05);
  }
}
