.Ui {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.Score {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  color: #fff;
  font-size: 30px;
  margin: 30px;
}

@media screen and (max-width:720px) {
  .Score {
    font-size: 15px;
  }

  .Claw {
    width: 100%;
    height: auto;
  }
}
