.GameApp {
  .StartScreen {
    position: relative;
    height: 100%;
  }

  .StartScreen__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(45deg) brightness(0.5);
  }

  .StartScreen__startButton {
    padding: 1.1% 4%;
    // width: fit-content;
    height: 40%;
  }

  .ShopElement {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .Shop {
    flex-grow: 1;
    max-height: 50%;
  }

  .Score {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 16px;
    height: 15%;
    padding-top: 8%;
    font-size: 120px;
  }

  .Score__text {
    align-self: center;
  }

  .Score__counter__fish {
    height: 100%;
  }

  .Score__recipe {
    height: 100%;
    display: block;
    align-self: end;
    position: relative;
  }

  .Score__recipe__img {
    display: block;
    height: 100%;
  }

  .Score__recipe__btn {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
  }

  .TryAgain__btn {
    height: 10%;
    transition: filter 0.5s;
    cursor: pointer;
  }

  .TryAgain__btn:hover {
    filter: saturate(2);
  }

  @media screen and (max-width: 1440px) {
    .Score {
      font-size: 120px;
    }
  }

  @media screen and (max-width: 1180px) {
    .Score {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 400px) {
    .Score {
      font-size: 30px;
    }
  }
}
