.GameApp {
  .StartScreen {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  .StartScreen__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(45deg) brightness(0.5);
  }

  // .StartScreen__title {
  //   font-size: 400%;
  //   margin: 0;
  //   color: white;
  //   text-transform: uppercase;
  //   filter: drop-shadow(2px 4px 6px black);
  // }

  .StartScreen__startButton {
    padding: 1.1% 4%;
    // width: fit-content;
    height: 40%;
  }

  .ShopElement {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .Shop {
    height: auto;
    width: 50%;
  }

  .Score {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: end;
    color: #fff;
    font-size: 6vw;
  }

  .Score__counter {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .Recept {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .Btn {
    font-size: 3vw;
    text-decoration: none;
    padding: 1vw 3vw;
    color: white;
    transition: background-color 0.5s ease;
    text-align: center;
  }

  .Recept__btn {
    background-color: #3DA942;
    border-radius: 9999px;
    padding: 10% 30%;

    &:hover {
      background-color: #2d8031;
    }
  }

  .Recept__image {
    width: 100%;
    height: auto;
  }

  .RestartBtn {
    background-color: #f87b43;
    border-radius: 10px;

    &:hover {
      background-color: #d51910;
    }
  }
}
