.Fish {
  position: absolute;
  width: 14%;
}

.Fish__flipper {
  width: 100%;
  transform: translate(-50%);

  &.-movingLeft {
    transform: translate(-50%) scaleX(-1);
  }
}

.Fish__body {
  width: 100%;
  transition: transform .2s;
  animation-name: bob;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes bob {
  from {
    transform: translateY(0) scaleY(1.05) scaleX(.95);
  }

  to {
    transform: translateY(-100%) scaleY(.95) scaleX(1.05);
  }
}
