.GameApp {
  --z-index-fish: 100;

  width: 100%;
  aspect-ratio: 1/1;
  font-weight: bold;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  border-radius: 0;
}
