.GameApp {
  --clr-primary: #f48830;

  width: 100%;
  aspect-ratio: 3/2;
  font-weight: bold;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  border-radius: 0;
}
