.Hp {
  position: absolute;
  pointer-events: initial;
  width: 10%;
}

.Hp__body {
  width: 100%;
  animation-name: bob__horizontal;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes bob__horizontal {
  from {
    transform: translateX(50%) scaleX(1.05) scaleY(.95);
  }

  to {
    transform: translateX(-50%) scaleX(.95) scaleY(1.05);
  }
}


