$claws-widen: -20%;

.CrabClaws {
  position: absolute;
  top: 0;
  left: - calc($claws-widen / 2);
  width: calc(100% + $claws-widen);
  height: 100%;
  transform: translateY(-0%);
}

.CrabClaws__clawWrapper {
  position: absolute;
  width: 28%;
  height: 60%;
  transition: transform 500ms;

  &.-left {
    left: 0;
  }

  &.-right {
    right: 0;
  }
}

.CrabClaws__clawWrapper__claw {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);

  &.-right {
    transform: scaleX(-1) translate(50%, -50%);
  }
}

$claw-spread: 30%;
$claw-rotate: 30deg;

.CrabClaws__clawWrapper__claw__big,
.CrabClaws__clawWrapper__claw__small {
  display: block;
  position: absolute;
  bottom: 0;
  transform-origin: center 75%;
  transition: transform .1s;
}

.CrabClaws__clawWrapper__claw__big {
  transform: translate(-$claw-spread);
  width: 100%;
  height: 100%;

  &.-left {
    &.-open {
      transform: translate(-$claw-spread) rotate(-$claw-rotate);
    }
  }

  &.-right {
    &.-open {
      transform: translate(-$claw-spread) rotate(-$claw-rotate);
    }
  }
}

.CrabClaws__clawWrapper__claw__small {
  transform: translate($claw-spread);
  width: 90%;

  &.-left {
    &.-open {
      transform: translate($claw-spread) rotate($claw-rotate);
    }
  }

  &.-right {
    &.-open {
      transform: translate($claw-spread) rotate($claw-rotate);
    }
  }
}

.CrabClaws__clawWrapper__claw__prey {
  position: relative;
  height: 60%;
}
