.GameApp {
  @keyframes rock {
    from {
      transform: rotate(1.5deg);
    }

    to {
      transform: rotate(-1.5deg);
    }
  }

  .Crab {
    position: absolute;
    width: 33%;
    height: 23%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .Crab__body {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .Crab__body__torsoRotator {
    position: absolute;
    width: 70%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
  }

  .Crab__body__torsoRotator__torso {
    object-fit: cover;
    animation: 2s infinite alternate rock linear;
    width: 100%;
  }

  .Crab__body__limbs {
    position: absolute;
    object-fit: cover;
    display: block;
    width: 100%;
    bottom: 0;
  }
}